<div class="attributes">
    <h2>{{localize "YZECORIOLIS.Attributes"}}</h2>
    <ul class="stat-list">
        {{#each actor.data.attributes as |ability key|}}
        <li>
            <div class="stat-name rollable" data-rolltype="attribute" data-attributekey={{key}}
                data-roll="(@attributes.{{key}}.value)d6" data-label="{{getAttributeRollName key}}">{{getAttributeName key}}</div>
            <div class="stat-value">
                <input type="text" name="data.attributes.{{key}}.value" value="{{ability.value}}" data-dtype="Number" placeholder="0" />
            </div>
        </li>
        {{/each}}
    </ul>
</div>

<div class="skills{{#if_eq actor.type 'npc'}} collapsed{{/if_eq}}">
    <h2>{{getSkillCategoryName 'general'}}<div class="toggle"></div></h2>
    <ul class="stat-list">
        {{#each actor.data.skills as |skill id|}}
        {{#if_eq skill.category 'general'}}
        <li {{#if_eq skill.value 0}}class="collapsable"{{/if_eq}}>
            <div class="stat-name rollable" data-rolltype="skill" data-attributekey={{skill.attribute}}
                data-skillkey={{id}} data-label="{{getSkillRollName id}}">{{getSkillName id}}
            </div>
            <div class="stat-value">
                <input type="text" name="data.skills.{{id}}.value" value="{{skill.value}}" data-dtype="Number" />
            </div>
        </li>
        {{/if_eq }}
        {{/each}}
    </ul>
</div>

<div class="skills{{#if_eq actor.type 'npc'}} collapsed{{/if_eq}}">
    <h2>{{getSkillCategoryName 'advanced'}} <div class="toggle"></div></h2>
    <ul class="stat-list">
        {{#each actor.data.skills as |skill id|}}
        {{#if_eq skill.category 'advanced'}}
        <li {{#if_eq skill.value 0}}class="collapsable"{{/if_eq}}>
            <div class="stat-name rollable" data-rolltype="skill" data-attributekey={{skill.attribute}} data-skillkey={{id}}
                data-label="{{getSkillRollName id}}">{{getSkillName id}}
            </div>
            <div class="stat-value">
                <input type="text" name="data.skills.{{id}}.value" value="{{skill.value}}"
                    data-dtype="Number" />
            </div>
        </li>
        {{/if_eq }}
        {{/each}}
    </ul>
</div>